@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Negado";
}

<header>
    <div class="container">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">No tienes los sufucuentes permisos para acceder .</p>
    </div>
  
</header>
